.App {
 
    max-width: 800px;
    margin: 20px auto;
    
    padding: 10px 50px;
    border-radius: 25px;
    border: none;
  }
  
  .App footer {
    font-size: 15px;
    margin: 10px 0;
  }
a {
  text-decoration: none;  
}

